:root {
  --color-primary: #666;
  --color-secondary: #101010;

  --rocket-speed: 3000s;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-primary);
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

.galaxy {
  width: 100vw;
  width: 100vw;
}

.space {
  height: 400000px;
  width: 100vw;
  background: url("./assets/seamless-space.jpg") repeat;
  animation: spaceMove var(--rocket-speed) linear infinite;
  opacity: 0.6;
}

@keyframes spaceMove {
  0% {
    transform: translateY(-200000px);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.space-craft {
  position: fixed;
  left: calc(50% - 50px);
  top: calc(0vh - 500px);
  width: 100px;
  transform: translateY(-50%);
  transition: all 5s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 60;
}

.space-rocket {
  height: 300px;
}

.fire-container {
  margin-top: 5px;
  display: flex;
  width: 49%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.fire {
  position: relative;
}

.fire:nth-child(1),
.fire:nth-child(3) {
  transform: scale(0.6);
}

.rocket-fire {
  position: absolute;
  width: 45px;
  top: -6px;
  left: calc(50% - 24px);
}

.fire-effect {
  animation: fire 0.2s linear infinite;
}

@keyframes fire {
  0% {
    transform: translate(1px, -1px);
    opacity: 0.8;
  }
  10% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  60% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(-1px, -1px);
  }
}

/* --- distance display --- */

.distance-container {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

.distance {
  margin-right: 8px;
}

/* --- launch button --- */

.launch-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  position: fixed;
  top: calc(50vh - 70px);
  left: calc(50% - 70px);
  text-transform: uppercase;
  width: 140px;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
  color: var(--color-primary);
  font-weight: bold;
  letter-spacing: 3px;
  background: transparent;
  font-size: 1.5rem;
  transition: all 2s ease-out;
  z-index: 90;
}

.launch-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #0a445c,
    #130e6f,
    #582ec3,
    #0a0f71,
    #03152e,
    #002bff,
    #5100ff,
    #2b47a4,
    #32587d
  );
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 30s linear infinite;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}

.launch-btn:active {
  color: var(--color-primary);
}

.launch-btn:hover:before {
  filter: blur(40px);
}

.launch-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.abort {
  color: #32587d;
  font-size: 0.8rem;
}

/* --- sun --- */

.sun {
  position: fixed;
  top: 65vh;
  width: 100vw;
  aspect-ratio: 1/1;
  animation: sun 300s infinite linear;
  transition: all 3s ease-in;
}

@keyframes sun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* --- popup --- */
.popup {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-msg {
  width: 300px;
  position: relative;
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-msg:before {
  content: "";
  background: linear-gradient(
    45deg,
    #0a445c,
    #130e6f,
    #582ec3,
    #0a0f71,
    #03152e,
    #002bff,
    #5100ff,
    #2b47a4,
    #32587d
  );
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(90px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 30s linear infinite;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  width: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
  background-color: var(--color-primary);
  border: solid 2px var(--color-secondary);
}

.btn:hover {
  background-color: transparent;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}


/* --- planets --- */

.planets {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

#planet {
  position: absolute;
  width: 50vw;
  transition: all 10s linear;
  top: -50vw;
}

.round {
  border-radius: 50%;
}

img[alt~="mercury"] {
  transform: scale(0.06);
  top: -100%;
}

img[alt~="venus"] {
  transform: scale(0.1);
}

img[alt~="earth"] {
  transform: scale(0.15);
}

img[alt~="moon"] {
  transform: scale(0.08);
}

img[alt~="jamesweb"] {
  transform: scale(0.1);
}

img[alt~="mars"] {
  transform: scale(0.1);
}

img[alt~="jupiter"] {
  transform: scale(1);
}

img[alt~="saturn"] {
  transform: scale(2);
}

img[alt~="uranus"] {
  transform: scale(0.2);
}

img[alt~="neptune"] {
  transform: scale(0.2);
}

img[alt~="pluto"] {
  transform: scale(0.06);
}



/* --- status --- */

.status {
  opacity: 0;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  position: fixed;
  top: calc(50vh - 100px);
  left: 100px;
  margin: 0;
  height: 200px;
  transition: all 1s ease-in-out;
  width: 300px;
}


/* --- phone breack point --- */

@media screen and (max-width: 700px) {
    .launch-btn {
      transform: scale(0.5);
    }
  
    .sun {
      top: 65vh;
      animation: sun 100s infinite linear;
    }
  
    .distance-container {
      flex-direction: column;
      z-index: 50;
      font-size: 0.7rem;
    }
  
    .space-craft {
      transform: scale(0.6);
    }

    .popup-msg {
      width: 70%;
      font-size: 0.6rem;
    }

    .btn {
      font-size: 0.5rem;
    }

    .planet {
      width: 50vw;
    }

    .status {
      position: fixed;
      text-align: center;
      top: 1px;
      left: calc(50vw - 100px);
      font-size: 1rem;
      width: 200px;
      margin: 0;
    }
}

.hide {
  display: none;
}

.move {
  top: 500px;
}